GYYGEO_CARTO_ENV=development
GYYGEO_CARTO_HOST=127.0.0.1
GYYGEO_CARTO_PORT=8000
GYYGEO_CARTO_API_PREFIX=/api/v1
GYYGEO_CARTO_PYTHON_EXE=%LOCALAPPDATA%\ESRI\conda\envs\gyygeo-py3\python.exe
GYYGEO_CARTO_MAX_WORKERS=1
GYYGEO_CARTO_JOB_TIMEOUT_SECONDS=1800
GYYGEO_CARTO_ARCPY_MODE=required
